* {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.title {
  text-align: center;
}

.sub-title {
  text-align: center;
}

#description {
  text-align: center;
}

.description {
  text-align: center;
}
